* {
  box-sizing: border-box;
}

.tablero-juego {
  display: grid;
  background-color: rgb(201, 255, 255);
  grid-template-rows: 4fr*1;
  gap: 40px;
  padding: 80px;
  height: 800px;
  width: 1600px;
}

.carta-element {
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 253, 253);
  border-radius: 30px;
}

.imagen-carta {
  height: 200px;
  width: 200px;
}