* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
}

.tablero-juego {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  height: auto;
  width: 800px;
  background-color: rgb(201, 255, 255);
}

.carta-element {
  display: flex;
  height: 125px;
  width: 125px;
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 253, 253);
  border-radius: 30px;
}

.imagen-element {
  height: 125px;
  width: 125px;
}