* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15%;
}

.tablero-juego {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  height: auto;
  width: 800px;
  background-color: rgb(201, 255, 255);
}

.carta-element {
  display: flex;
  height: 150px;
  width: 150px;
  padding: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 253, 253);
  border-radius: 10px;
}

.boton {
  align-self: center;
  height: 5rem;
  padding: 0 1rem;
  margin: 2rem;
  background-color: green;
  color: white;
  font-size: 50px;
}